body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
}
.active {
    background-color: #445ac7;
}
.dives header{
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #4f4f4f;
}
.dives header .header_block{
    max-width: fit-content;
    width: 100%;
    margin: 5px auto;
}
.dives header .header_block span{
    display: block;
    font-size: 30px;
    color: #1b2b1a;
    text-shadow: 5px 5px 0 #bd68a4;
}
.dives_all {
    width: 100%;
    height: 100%;
}
.dives_all_left {
    width: 25%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid #4f4f4f;
}
.dives_all_right {
    width: 75%;
    height: 100%;
}
.dives_all_left .block_item {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 400px;
    width: 100%;
}
.block_item .block_item_top {
    justify-content: space-between;
    padding: 10px 0;
}
.block_item .block_item_top button{
    display: flex;
    width: 120px;
    height: 30px;
    border-radius: 7px;
    background-color: #d4d3d3;
    color: #2b2b2b;
    font-size: 18px;
    border: 1px solid #2b2b2b;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.block_item .block_item_top button:hover {
    background-color: #445ac7;
    border: 1px solid #445ac7;
    transition: all 0.3s ease-in-out;
}
.block_item .block_item_top button a{
    color: #2b2b2b;
    text-decoration: none;
}
.block_item .block_item_bottom {
    width: 100%;
    height: auto;
    border: 2px solid #2b2b2b;
}
.block_item .block_item_bottom .block_item_bottom_top {
    padding: 5px 5px;
    height: auto;
    text-transform: uppercase;
    border-bottom: 2px solid #2b2b2b;
}
.block_item .block_item_bottom .block_item_bottom_all {
    padding: 5px 5px;
}
.block_item .block_item_bottom .block_item_bottom_all .item{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 16px;
    display: block;
    padding: 3px;
}

.template_block_body {
    margin-top: 25px;
    margin-bottom: 25px;
}
.template_block_body .template_block_body_bottom .template_block_body_bottom_all {
    height: 100px;
    overflow-y: scroll;
}

.template_block_div {
    margin-bottom: 25px;
}
.template_block_div .template_block_div_bottom .template_block_div_bottom_all {
    height: 200px;
    overflow-y: scroll;
}

.template_block_html {
    margin-bottom: 25px;
}
.template_block_html .template_block_html_bottom .template_block_html_bottom_all {
    height: 150px;
    overflow-y: scroll;
}

.dives_all_right {
    padding: 45px 15px 15px 15px;
}
.dives_all_right .dives_all_right_block {
    margin-bottom: 25px;
}
.dives_all_right .dives_all_right_block:last-child {
    margin-bottom: 0;
}
.dives_all_right_block_content {
    border: 2px solid #2b2b2b;
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.dives_all_right_block_top {
    padding: 5px 5px;
    height: auto;
    border-bottom: 2px solid #2b2b2b
}
.dives_all_right_block_all {
    padding: 5px 5px;
}
.dives_all_right_block_all span{
    display: block;
    cursor: pointer;
    padding: 3px 0;
    transition: all 0.3s ease-in-out;
}
.dives_all_right_block_all span:hover{
    transition: all 0.3s ease-in-out;
    color: #5ac955;
}
.dives_all_right .dives_all_right_block button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 30px;
    border-radius: 7px;
    background-color: #d4d3d3;
    color: #2b2b2b;
    font-size: 18px;
    border: 1px solid #2b2b2b;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dives_all_right .dives_all_right_block button:hover {
    background-color: #d0c01c;
    border: 1px solid #d0c01c;
    transition: all 0.3s ease-in-out;
}
.dives_all_right_block_all .input_top, .dives_all_right_block_all .input_center, .dives_all_right_block_all .input_title, .dives_all_right_block_all .input_body {
    width: 99%;
    height: 99%;
    border: none;
    background-color: #f4f4f4;
}
.content-top {
    height: 40px;
}
.content-center {
    height: 60px;
}
.content-bottom {
    height: 100px;
}
.content_show {
    height: 450px;
}
.dives_all_right_block .content_show .content_show_title {
    font-size: 30px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 150px auto;
    color: #4f4f4f;
}